.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 1;
}
.autocomplete-custom-template .item-metadata .item-metastat {
  padding-left: 28px;
}
.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

.md-sidenav-left {
  width: 230px;
}

.fix-toolbar {
  display: inline-table;
  width: 100%;
}
md-list-item.min-h30 .md-list-item-inner:before, md-list-item.min-h30:before, md-list-item.min-h30 {
    min-height: 30px; 
} 

.inline { 
  display: inline; 
}