<!DOCTYPE html>
<html ng-app="frontGeoPagos" lang="es" xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <title>Ejercicio 1 prueba GeoPagos</title>
  <base href="/ejercicio1/">
  <meta charset="UTF-8"> 
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Ejercicio 1 prueba GeoPagos">
  <meta name="author" content="Jose Rivas tonistation">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel="apple-touch-icon" sizes="57x57" href="/app/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/app/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/app/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/app/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/app/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/app/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/app/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/app/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/app/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/app/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/app/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/app/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/app/favicon/favicon-16x16.png">
  <link rel="manifest" href="/app/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/app/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="lib/angular/angular.min.js"></script> 
  <script src="lib/angular/angular-route.min.js"></script>  
  <script src="lib/angular/angular-aria.min.js"></script>   
  <script src="lib/angular/angular-filter.min.js"></script> 
  <script src="lib/angular/angular-animate.min.js"></script> 
  <script src="lib/angular/angular-material.min.js"></script>   
      
  <!-- base y controladores -->
  <script src="app.js"></script>
  <script src="app/controllers/principal.js"></script> 
  <script src="app/controllers/mlateral.js"></script>
  <script src="app/controllers/home.js"></script>
  <script src="app/controllers/usuario.js"></script> 
  <script src="app/controllers/pago.js"></script> 
  <script src="app/controllers/infoCtrl.js"></script> 
    
  <link rel="stylesheet" href="lib/angular-material/angular-material.min.css"> 
  <link rel="stylesheet" href="lib/css/material_icons.css"> 
  <link rel="stylesheet" href="lib/css/formato.css">
  <link rel="stylesheet" href="lib/css/colores.css"> 
  <link rel="stylesheet" href="app.css"> 

  <!-- servicios --> 
  <script src="app/services/funciones.js"></script>    

  <!-- directivas --> 
  <script src="app/directives/ng-enter.js"></script>    
</head>

<!-- 
https://tonistation@bitbucket.org/tonistation/ejercicio1.git
-->
<body layout="column" style="overflow-y: hidden !important"> 
  <md-content class="fix-toolbar">
    <div ng-controller="principalCtrl" ng-cloak>  
        <md-toolbar class="md-hue-6 ajustetb">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="menu_lateral_button" ng-click="abrirMenuL()" hide-gt-mds>
              <md-tooltip>
                Mostrar / Ocultar Menu
              </md-tooltip>
              <md-icon>menu</md-icon>
            </md-button>
            <img ng-src="{{logo.ruta1}}" hide-xs alt="{{logo.alt1}}" class="md-avatar"> 
            
            <span flex>
              <div class="tacenter white-text">  
                {{$parent.titulo}}
              </div>
            </span>    
            <a ng-href="https://www.linkedin.com/in/tonistation/" target="_blank">
              <span hide-xs class="white-text">Jose Rivas</span>  
              <md-icon>person</md-icon>
            </a>  
          </div>
        </md-toolbar>   
        <md-progress-linear md-mode="query" ng-show="$parent.cargaActiva"></md-progress-linear>   
          
    </div>   
    </md-content> 
 

 
    <div layout="row" class="ajustecont">
    <md-sidenav id="menuLateral" layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"> 

        <md-list ng-controller="mlateralCtrl">
          <md-subheader>{{tituloListMenu}}</md-subheader>
          <md-item ng-repeat="item in listMenu" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" >
            <a ng-href="{{ '/ejercicio1/' + item.ruta}}" ng-click="ajustaLat()">
              <md-item-content md-ink-ripple layout="row" layout-align="start center" ng-class="{ activo: contenidoActivo('{{item.ruta}}') }">
                <div class="inset">
                  <md-icon>{{item.icono}}</md-icon>
                </div>
                <div class="inset">{{item.titulo}}
                </div>
              </md-item-content>
            </a>
          </md-item>
          <md-divider></md-divider>
           
          <md-subheader>{{tituloListConf}}</md-subheader>
          <md-item ng-repeat="item in listConf" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" >
            <a ng-click="ajustaLat(item.accion)" class="cursor">
              <md-item-content md-ink-ripple layout="row" layout-align="start center" ng-class="{ activo: contenidoActivo('{{item.ruta}}') }">
                <div class="inset">
                  <md-icon>{{item.icono}}</md-icon>
                </div>
                <div class="inset">{{item.titulo}}
                </div>
              </md-item-content>
            </a>
          </md-item>
        </md-list>
         
    </md-sidenav>

    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding" ng-view> 
        </md-content>
    </div> 
    
    </div>  

</body>
</html>