<div ng-controller="homeCtrl" ng-cloak >  
  <md-content> 

   <div layout="row">
      <div flex="33" layout-align="center" class="tacenter md-padding">
        <md-card class="cursor"> 
          <a href="/ejercicio1/#!/usuarios">
            <md-icon class="t70 blue-text">account_circle</md-icon> 
            <div class="md-padding t1p2r">Usuarios</div> 
          </a>
        </md-card>   
      </div>
      <div flex="33" layout-align="center" class="tacenter md-padding">
        <md-card class="cursor">
          <a href="/ejercicio1/#!/pagos">
            <md-icon class="t70 blue-text">attach_money</md-icon> 
            <div class="md-padding t1p2r">Pagos</div>
          </a>
        </md-card>   
      </div>
      <div flex="33" layout-align="center" class="tacenter md-padding">
        <md-card class="cursor">
          <a href="/ejercicio1/#!/info">
            <md-icon class="t70 blue-text">info_outline</md-icon> 
            <div class="md-padding t1p2r">Informacion</div>
          </a>
        </md-card>   
      </div>

  </md-content>
   
</div>