
<md-content  ng-controller="infoCtrl" ng-cloak > 
  <md-card>
    <md-card-header>
      <md-card-avatar>
        <md-icon>keyboard</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">Jose Rivas</span>
        <span class="md-subhead">Desarrollador Web</span>
      </md-card-header-text>
    </md-card-header>
    <img ng-src="app/images/developer.png" class="md-card-image" alt="Devloper">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Ejercicio 1</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>
        En este ejercicio se empleo:
        - JS, AngularJS, Angular Material
        - PHP 7
        - MySql
      </p>
      <p>Diseño Responsivo, corre a probarlo en el movil...</p>

      <p>Sobre los requisitos de un buen programador, dicen que...</p>
      <div>
      <b>1. Interacción.</b> Se puede hablar de interacción en varios niveles: el programador debe ser capaz de trabajar en un equipo donde compartir opiniones, aceptar sugerencias e intercambiar ideas. Y al mismo tiempo, debe ser capaz de empatizar con aquellas otras personas que desconocen el mundo de la programación pero necesitan de sus soluciones. Primer error: el programador no es ese informático que está todo el día encerrado en una habitación con un ordenador.
      </div>

<div>
      <b>2. Análisis y síntesis.</b>
 Este profesional debe ser capaz de analizar el problema al que se enfrenta, sintetizar la información que ha recibido y elegir los datos con los que comenzar el trabajo. Segundo error: el programador no trabaja de forma estandarizada.
 </div>

<div>
<b>3. Conocimientos.</b>
 Debe tener una formación que lo capacita como tal. Un buen programador más que saber el cómo, sabe el por qué de las cosas. No es lo mismo saber cómo solucionar un problema, que saber realmente cómo funciona esa solución. Tercer error: El programador no es un libro cerrado.
</div>
<b>4. Creatividad.</b>
 El buen programador debe tener creatividad para obtener soluciones factibles, rápidas y sencillas a problemas complicados. En un mismo lenguaje de programación puede encontrar varias formas de solventar una situación. Cuarto error: Los ordenadores son cuadriculados, los programadores no.
</div>

<div>
<b>5. Inquietud.</b>
 Un buen programador siempre se sigue formando, busca nuevas formas de enriquecer su trabajo, y es curioso por naturaleza. Algo que repercutirá de forma muy positiva en su trabajo. Quinto error: el programador no es un friki, el programador sigue aprendiendo.
</div>

    </md-card-content>
  </md-card>
</md-content>