
<md-content class="white md-whiteframe-1dp" ng-controller="pagoCtrl" ng-cloak > 
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">

      <md-input-container class="md-block">
        <md-icon>search</md-icon>
        <input ng-model="pagosSearch" placeholder="Búsqueda ...">
      </md-input-container> 
      
      <md-button ng-click="cargaPagos(); pagosSearch=''">
        <md-tooltip> Mostrar todos los registros </md-tooltip>
        <span hide-xs>Todos</span>
        <md-icon>select_all</md-icon>
      </md-button>

      <span flex></span>

      <md-button ng-click="modalAddPago(1,false)" id="addPago">
        <md-tooltip> Registrar Pago </md-tooltip>
        <span hide-xs>Nuevo</span>
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </md-toolbar>
     
  <md-subheader ng-show="sinData">
    No se encuentraron resultados
  </md-subheader>

  <md-list ng-hide="sinData">
    <div ng-repeat="p in pagos | filter:pagosSearch">
    <md-list-item class="md-2-line">
      <md-icon>account_circle</md-icon>
      <div class="md-list-item-text">
        <h3> {{ 'Cod.:' + p.codigo + ' -- '}} {{p.usuario}} </h3>
        <p> {{ p.importe | currency }} {{ ' el ' + p. fecha}} </p>
      </div>
           
      <md-button class="md-secondary md-icon-button" ng-click="alertPretty('No se definio proceso de update, se vio innecesario, se puede eliminar y crear otro. ')" aria-label="call">
        <md-icon>edit</md-icon>
      </md-button>
      <md-button class="md-secondary md-icon-button" ng-click="confirmaEliminar('¿Esta seguro que desea eliminar este pago?', p.codigoPago)" aria-label="call">
        <md-icon>cancel</md-icon>
      </md-button> 
    </md-list-item>   
    <md-divider></md-divider>
    </div>
  </md-list>
   
</md-content>