
<md-content class="white md-whiteframe-1dp" ng-controller="usuarioCtrl" ng-cloak > 
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">

      <md-input-container class="md-block">
        <md-icon>search</md-icon>
        <input ng-model="usuarioSearch" placeholder="Búsqueda ...">
      </md-input-container>  

      <md-button ng-click="cargaUsuarios(); usuarioSearch=''">
        <md-tooltip> Mostrar todos los registros </md-tooltip>
        <span hide-xs>Todos</span>
        <md-icon>select_all</md-icon>
      </md-button>

      <span flex></span>

      <md-button ng-click="modalAddUsuario(1,false)" id="addUsuario">
        <md-tooltip> Crear usuario </md-tooltip>
        <span hide-xs>Nuevo</span>
        <md-icon>person_add</md-icon>
      </md-button>
    </div>
  </md-toolbar>
     
  <md-subheader ng-show="sinData">
    No se encuentraron resultados
  </md-subheader>

  <md-list ng-hide="sinData">
    <div ng-repeat="u in usuarios | filter:usuarioSearch">
    <md-list-item class="md-2-line">
      <md-icon>account_circle</md-icon>
      <div class="md-list-item-text">
        <h3> {{ 'Cod.:' + u.codigo + ' -- '}} {{u.usuario}} </h3>
        <p> {{ u.edad + ' años ' + ' '}} </p>
      </div>
          
      <md-button class="md-secondary md-icon-button" ng-click="modalSeguidores(u.codigo)" aria-label="call">
        <md-icon>loyalty</md-icon>
      </md-button>
      <md-button class="md-secondary md-icon-button" ng-click="modalFavoritos(u.codigo)" aria-label="call">
        <md-icon>favorite</md-icon>
      </md-button>
      <md-button class="md-secondary md-icon-button" ng-click="modalPagos(u.codigo)" aria-label="call">
        <md-icon>attach_money</md-icon>
      </md-button>
      <md-button class="md-secondary md-icon-button" ng-click="modalAddUsuario(2,u)" aria-label="call">
        <md-icon>edit</md-icon>
      </md-button>
      <md-button class="md-secondary md-icon-button" ng-click="confirmaEliminar('¿Esta seguro que desea eliminar este usuario?', u.codigo, 1)" aria-label="call">
        <md-icon>cancel</md-icon>
      </md-button> 
    </md-list-item>   
    <md-divider></md-divider>
    </div>
  </md-list>
   
</md-content>