*{ font-family: Roboto, sans-serif; font-size: 1rem; }
a:-webkit-any-link, a href{ color: initial;  text-decoration: initial; }
.pd0{ padding: 0px; } .pa10{ padding: 0px 5px; } .pt5 { padding-top: 5px; } .ml10 { margin-left: 10px }
.cursor { cursor: pointer; } .tr { text-align: right; } .tl{ text-align: left; } .pr2 ( padding-right: 2px)
.tn { font-weight: normal; } .tc { text-align: center; }  
.t8 { font-size: 8px; } .t10 { font-size: 10px; } .t12 { font-size: 12px; } .t14 { font-size: 14px; } .t16 { font-size: 16px; } .t18 { font-size: 18px; } .t20 { font-size: 20px; } 
.t22 { font-size: 22px } .t32 { font-size: 32px } .t38 { font-size: 38px; } .t42 { font-size: 42px } .t46 { font-size: 46px } .t50 { font-size: 50px } .t54 { font-size: 54px }
.t58 { font-size: 58px } .t62 { font-size: 62px }  .t70 { font-size: 70px }  .t0p7r { font-size: 0.7rem; } .t0p8r { font-size: 0.8rem; }
.t0p9r { font-size: 0.9rem; } .t1r{ font-size: 1rem } .t1p3r { font-size: 1.3rem; } .t1p4r { font-size: 1.4rem; }
.t2r { font-size: 2rem } .t3r { font-size: 3rem } .t4r { font-size: 4rem } .t6r { font-size: 6rem }
.t095r { font-size: 0.95rem; }
.textoUB { padding: 0px 14px; font-size: 1rem } .mr8 {  margin-right: 8px; }
.mg0{ margin: 0; } .mb20 { margin-bottom: 20px; } .mt20 { margin-top: 20px }
.lh20 { line-height: 20px;  } .lh2p4r { line-height: 2.4rem;  }  .lh4p5r{ line-height: 1.5rem; }
.pa5{ padding: 0px 5px; }
.oscuro { font-weight: bold; } .cursiva { font-style: italic; }
.w100 { width: 100%; }
.tacenter { text-align: center; }
.negrita { font-weight: bold; }

/*badget - count*/
.badget { border-radius: 5px;  padding: 0 3px; height: 20px;  display: inline-block; line-height: 20px; text-align: center; }
.badget_icon{ border-radius: 5px;   width: 20px;  height: 20px;  display: inline-block; line-height: 20px; text-align: center; }

/*color principal botones dialogos*/
.md-button.md-default-theme.md-primary, .md-button.md-primary {  color: rgb(253, 145, 7); font-weight: bold; }
.md-button { text-transform: capitalize !important;/*For Lower case use lowercase*/ }
/*fix para centrado vertical en inpus*/
md-input-container .md-errors-spacer { min-height: 0; }



