@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../font/material-design-icons/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("../font/material-design-icons/MaterialIcons-Regular.woff2") format('woff2'),
       url("../font/material-design-icons/MaterialIcons-Regular.woff") format('woff'),
       url("../font/material-design-icons/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal; 
  -webkit-font-smoothing: antialiased; 
  text-rendering: optimizeLegibility; 
  -moz-osx-font-smoothing: grayscale; 
  font-feature-settings: 'liga';
}
.material-icons.s14 { font-size: 14px; }
.material-icons.s18 { font-size: 18px; }
.material-icons.s24 { font-size: 24px; }
.material-icons.s28 { font-size: 28px; }
.material-icons.s32 { font-size: 32px; }
.material-icons.s36 { font-size: 36px; }
.material-icons.s40 { font-size: 40px; }
