<md-dialog class="md-padding">  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><md-icon>add</md-icon>&nbsp;Registrar Nuevo Pago</h2>
        <span flex></span>
        <md-button class="md-icon-button">
          <md-icon aria-label="Close dialog">cancel</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-progress-linear md-mode="query" ng-show="cargaAddPaciente"></md-progress-linear>

    <md-dialog-content>     
    	<div layout="row" flex ="100"> 
          <md-list-item> 
            <md-icon>info</md-icon>
            <p> Datos del Pago </p>  
          </md-list-item>  
    	</div>   
      <md-divider></md-divider>
	    <div class="container">
        <form name="nuevoPagoForm">
          <div layout="row" layout-xs="column">
            <md-input-container flex="35">
               <label>Usuario</label>
               <md-select ng-model="nuevoPago.codigoUsuario">
                  <md-option ng-value="0" selected>Seleccionar</md-option>
                  <md-option ng-repeat="u in usuarios" ng-value="u.codigo">
                    {{ u.usuario }}
                  </md-option>
               </md-select>
            </md-input-container> 
            <md-input-container flex="35">
              <md-icon>attach_money</md-icon>
              <label>Importe</label>
              <input type="text" ng-model="nuevoPago.importe"  />
            </md-input-container>
            <md-input-container flex="30">
                <md-icon> event</md-icon> 
                <label>Fecha</label>
                <input type="text" ng-model="nuevoPago.fecha" />
            </md-input-container>
          </div> 
        </form>

        <div layout="row" ng-show="muestraErrorModal">
          <md-card class="red-text">
            {{ errorModal }}
          </md-card>
        </div>

	    </div>
    </md-dialog-content>
   	<md-dialog-actions layout="row">  
      <span flex></span>
      <md-button ng-click="cierraModal()" class="grey-text text-darken-3">
        <md-icon class="grey-text text-darken-3">close</md-icon> 
        CANCELAR
      </md-button> 

      <md-progress-circular ng-show="registrandoModal" md-mini></md-progress-circular>
      <md-button ng-click="crear()" class="green white-text" ng-disabled="!nuevoPago.codigoUsuario || !nuevoPago.fecha || !nuevoPago.importe"> 
        <md-icon class="white-text">play_arrow</md-icon>
        REGISTRAR
      </md-button>
    </md-dialog-actions> 
</md-dialog>