<md-dialog class="md-padding">  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><md-icon>add</md-icon>&nbsp;Registrar Nuevo Usuario</h2>
        <span flex></span>
        <md-button class="md-icon-button">
          <md-icon aria-label="Close dialog">cancel</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-progress-linear md-mode="query" ng-show="cargaAddPaciente"></md-progress-linear>

    <md-dialog-content>     
    	<div layout="row" flex ="100"> 
          <md-list-item> 
            <md-icon>info</md-icon>
            <p> Datos del Usuario </p>  
          </md-list-item>  
    	</div>   
      <md-divider></md-divider>
	    <div class="container">
        <form name="nuevoPac">
          <div layout="row" layout-xs="column">
            <md-input-container flex="50"> 
              <md-icon>label</md-icon>
              <input ng-model="nuevoUsuario.usuario" placeholder="Usuario (nick)" required autofocus ng-pattern="/^[a-zA-Z0-9]*[a-zA-Z0-9]+$/" >
            </md-input-container> 
            <md-progress-circular ng-show="buscandoModal"></md-progress-circular>
            <md-input-container flex="30"> 
              <md-icon>event</md-icon>
              <input ng-model="nuevoUsuario.edad" required placeholder="Edad" > 
            </md-input-container> 
          </div>
          <div layout="row" ng-show="nuevoUsuario.codigo">
            <md-checkbox ng-model="nuevoUsuario.cambiaClave" aria-label="Checkbox 1">
              Cambia clave
            </md-checkbox>
          </div>
          <div layout="row" layout-xs="column" ng-show="nuevoUsuario.cambiaClave">
              <md-input-container flex="50"> 
                <md-icon>event</md-icon>
                <input ng-model="nuevoUsuario.clave" required placeholder="Clave" type="password" > 
              </md-input-container> 
              <md-input-container flex="50"> 
                <md-icon>event</md-icon>
                <input ng-model="nuevoUsuario.clave2" required placeholder="Confirmacion de clave" type="password" > 
              </md-input-container> 
          </div>   
        </form>

        <div layout="row" ng-show="muestraErrorModal">
          <md-card class="red-text">
            {{ errorModal }}
          </md-card>
        </div>

	    </div>
    </md-dialog-content>
   	<md-dialog-actions layout="row">  
      <span flex></span>
      <md-button ng-click="cierraModal()" class="grey-text text-darken-3">
        <md-icon class="grey-text text-darken-3">close</md-icon> 
        CANCELAR
      </md-button> 

      <md-progress-circular ng-show="registrandoModal" md-mini></md-progress-circular>
      <md-button ng-click="determinaAccion(cambiaClave)" class="green white-text" ng-disabled="!nuevoUsuario.usuario || !nuevoUsuario.edad"> 
        <md-icon class="white-text">play_arrow</md-icon>
        REGISTRAR
      </md-button>
    </md-dialog-actions> 
</md-dialog>