<md-dialog class="md-padding"> 

  <md-toolbar  class="md-accent">
    <div class="md-toolbar-tools"> 
         <h1>Lista de pagos del usuario</h1>
         <span flex>     
      </span>
      <md-button ng-click="formAgregaPago = !formAgregaPago" ng-show="!formAgregaPago">
        <md-icon>add</md-icon>
        Agregar
      </md-button>
    </div> 
  </md-toolbar>

  <md-dialog-content>
  <div layout="row" ng-show="listPagos.length == 0 || !listPagos.length">
    <md-subheader>
      El usuario no tiene pagos asociados.
      <md-icon>info</md-icon>
    </md-subheader>
  </div>

  <md-toolbar  class="md-accent" ng-show="formAgregaPago">
    <div class="md-toolbar-tools">  
      <md-input-container flex="35">
        <md-icon>attach_money</md-icon>
        <label>Importe</label>
        <input type="text" ng-model="nuevoPago.importe"  />
      </md-input-container>
      <md-input-container flex="35">
          <md-icon> event</md-icon> 
          <label>Fecha</label>
          <input type="text" ng-model="nuevoPago.fecha" />
      </md-input-container>
      <md-button ng-click="registraPago()">
        <md-icon>add</md-icon>
        Registrar Pago
      </md-button>
    </div> 
  </md-toolbar>

  <div layout="row"> 
    <md-list ng-hide="sinData" flex="100">
        <div ng-repeat="p in listPagos">
        <md-list-item class="md-2-line">
          <md-icon>account_circle</md-icon>
          <div class="md-list-item-text">
            <h3> {{ 'Cod.:' + p.codigoPago + ' -- '}} {{ p.importe | currency }} </h3>
            <p> {{ p.fecha + ' - ' + p.usuario }}  </p>
          </div>
           
          <md-button class="md-secondary md-icon-button" ng-click="confirmaEliminar('¿Esta seguro que desea eliminar este pago?', p.codigoPago, 2)" aria-label="call">
            <md-icon>cancel</md-icon>
          </md-button> 
        </md-list-item>   
        <md-divider></md-divider>
        </div>
      </md-list>
  </div>

  <div layout="row" ng-show="muestraErrorModal">
      <md-card class="red-text">
        {{ errorModal }}
      </md-card>
    </div>

  </md-dialog-content>
  <md-dialog-actions layout="row">  
    <span flex></span>
    <md-progress-circular ng-show="registrandoModal" md-mini></md-progress-circular>
    <md-button ng-click="cierraModal()" class="grey-text text-darken-3">
      <md-icon class="grey-text text-darken-3">close</md-icon> 
      Cerrar
    </md-button>  
  </md-dialog-actions> 

</md-dialog>