<md-dialog class="md-padding"> 

  <md-toolbar  class="md-accent">
    <div class="md-toolbar-tools"> 
         <h1>Lista de favoritos del usuario</h1>
         <span flex>     
      </span>
      <md-button ng-click="formAgregaFav = !formAgregaFav" ng-show="!formAgregaFav">
        <md-icon>add</md-icon>
        Agregar
      </md-button>
    </div> 
  </md-toolbar>

  <md-dialog-content>
  <div layout="row" ng-show="listFavoritos.length == 0 || !listFavoritos.length">
    <md-subheader>
      El usuario no tiene favoritos definidos.
      <md-icon>info</md-icon>
    </md-subheader>
  </div>

  <md-toolbar  class="md-accent" ng-show="formAgregaFav">
    <div class="md-toolbar-tools">  
      <md-input-container flex="35">
         <label>Usuario</label>
         <md-select ng-model="nuevoPago.codigoUsuario">
            <md-option ng-value="0" selected>Seleccionar</md-option>
            <md-option ng-repeat="u in usuarios" ng-value="u.codigo">
              {{ u.usuario }}
            </md-option>
         </md-select>
      </md-input-container> 
      <md-button ng-click="registraFavorito()">
        <md-icon>add</md-icon>
        Definir como favorito
      </md-button>
    </div> 
  </md-toolbar>

  <div layout="row">  
    <md-list flex="100">
        <div ng-repeat="f in listFavoritos">
        <md-list-item>
          <md-icon>favorite</md-icon>
          <p> {{ f.usuarioFavorito }}  </p>           
          <md-button class="md-secondary md-icon-button" ng-click="confirmaEliminar('¿Esta seguro que desea eliminar este favorito?', f.codigoFavorito, 3)" aria-label="call">
            <md-icon>cancel</md-icon>
          </md-button> 
        </md-list-item>   
        <md-divider></md-divider>
        </div>
      </md-list>
  </div>

  <div layout="row" ng-show="muestraErrorModal">
      <md-card class="red-text">
        {{ errorModal }}
      </md-card>
    </div>

  </md-dialog-content>
  <md-dialog-actions layout="row">  
    <span flex></span>
    <md-progress-circular ng-show="registrandoModal" md-mini></md-progress-circular>
    <md-button ng-click="cierraModal()" class="grey-text text-darken-3">
      <md-icon class="grey-text text-darken-3">close</md-icon> 
      Cerrar
    </md-button>  
  </md-dialog-actions> 

</md-dialog>