<md-dialog class="md-padding"> 

  <md-toolbar  class="md-accent">
    <div class="md-toolbar-tools"> 
         <h1>Lista de favoritos del usuario</h1>
         <span flex>     
      </span> 
    </div> 
  </md-toolbar>

  <md-dialog-content>

  <div layout="row" ng-show="listSeguidores.length == 0 || !listSeguidores.length">
    <md-subheader>
      El usuario no tiene seguidores
      <md-icon>mood_bad</md-icon>
    </md-subheader>
  </div> 

  <div layout="row">  
    <md-list flex="100">
        <div ng-repeat="f in listSeguidores track by $index">
        <md-list-item>
          <md-icon>loyalty</md-icon>
          <p>  {{ f.usuario }}  </p>           
          <md-button class="md-secondary md-icon-button" ng-click="confirmaEliminar('¿Esta seguro que desea eliminar este favorito?', f.codigoFavorito, 3)" aria-label="call">
            <md-icon>cancel</md-icon>
          </md-button> 
        </md-list-item>   
        <md-divider></md-divider>
        </div>
      </md-list>
  </div>

  <div layout="row" ng-show="muestraErrorModal">
      <md-card class="red-text">
        {{ errorModal }}
      </md-card>
    </div>

  </md-dialog-content>
  <md-dialog-actions layout="row">  
    <span flex></span>
    <md-progress-circular ng-show="registrandoModal" md-mini></md-progress-circular>
    <md-button ng-click="cierraModal()" class="grey-text text-darken-3">
      <md-icon class="grey-text text-darken-3">close</md-icon> 
      Cerrar
    </md-button>  
  </md-dialog-actions> 

</md-dialog>